.img-container {
    width: 100%;
    height: 320px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit:cover; 
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card-img-top {
    width: 100%;
    height: 1px;  /* Ajusta la altura según necesites */
    object-fit: cover;  /* Para que la imagen se ajuste correctamente dentro del contenedor */
}
