<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}funkopop_ayan{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="">funkopop_ayan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'funko' %}">Funko</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vista_agregar_producto' %}">Agregar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vista_lista_producto' %}">Lista de Productos</a>
                    </li>      

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorías
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for categoria in categorias %}
                                <a class="dropdown-item" href="#">{{ categoria.nombre }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Marcas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for marca in marcas %}
                                <a class="dropdown-item" href="#">{{ marca.nombre }}</a>
                            {% endfor %}
                        </div>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vista_login' %}">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vista_register' %}">Registrarse</a>
                    </li>  
                    <!-- Otros enlaces -->
                </ul>
            </div>
        </nav>
    </header>
    <main>        
        {% block contenido %}
        <!-- Contenido específico de cada página -->
        {% endblock %}
    </main>
    <p>&copy; pagina web funkopop_ayan</p>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
