{% extends 'base.html' %}

{% block titulo %} Lista de productos {% endblock %}

{% block contenido %}

<div class="container">
    <h1 class="text-center">Lista de productos</h1><br>
    <div class="row">
        {% for p in lista %}
        <div class="col-md-3">
            <div class="card mb-4">
                {% if p.imagen %}
                <img src="/media/{{ p.imagen }}" class="card-img-top" alt="{{ p.nombre }}" >
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ p.nombre }}</h5>
                    <p class="card-"><b>Marca:</b> {{ p.marca }}</p>
                    <p class="card-text"><b>Precio:</b> {{ p.formatted_precio }} COP</p>
                    <!-- 
                    <p class="card-text"><b>Stock:</b> {{ p.stock }}</p>
                    <p class="card-text"><b>Descripción:</b> {{ p.descripcion }}</p>
                    -->
                    <a href="{% url 'vista_ver_producto' id_prod=p.id %}" class="btn btn-primary">Más detalles</a>
                    <a href="{% url 'vista_editar_producto' id_prod=p.id %}" class="btn btn-secondary">Editar</a>
                    {# <a href="{% url 'vista_eliminar_producto' id_prod=p.id %}" class="btn btn-danger">Eliminar</a> #}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
