{% extends "base.html" %}

{% block contenido %}
    <div class="container mt-5">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{ formulario.as_p }}
            <input type="hidden" name="next" value="{{ next }}"> <!-- Campo oculto para 'next' -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <a href="{% url 'vista_lista_producto' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
        {% if mensaje %}
            <div class="alert alert-danger mt-3">{{ mensaje }}</div>
        {% endif %}
    </div>
{% endblock %}
