{% extends 'base.html' %}
{% block titulo %} Registro de usuario{% endblock %}

{% block contenido %}

    <h2> {{ msj }} </h2>
    <form action= "" method="POST">
        {% csrf_token %}
        {{ formulario.as_p }}
        <input type="submit" value="Registrarse" class= "btn btn-primary">
        <button type="button" id="cancel-button" class= "btn btn-secondary">Cancelar</button>

        
    </form>
    <script> 
    document.getElementById('cancel-button').addEventListener('click', function() { 
        window.history.back(); 
        
        
    });
    </script>
    


{% endblock %} 