<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}
     {{ p.nombre }} 
    {% endblock %}

    {% block contenido %}
        <h1>Detalles</h1>
        <p><b>Nombre: </b>  {{ p.nombre }}</p>
        <p><b>Marca: </b>  {{ p.marca }} </p>
        <p><b>Categorías:</b>
         {% if p.categorias.all %}
            {% for categoria in p.categorias.all %}
                <span class="label label-info">{{ categoria.nombre }}</span>
            {% endfor %}
        {% else %}
            <h3>Sin categorías</h3>
        {% endif %}
        <p><b>Descripcion: </b>  {{ p.descripcion }}</p>
        <p><b>Precio: </b> $ {{ p.precio }}</p>
        <p><b>Stock: </b>  {{ p.stock }} unidades</p>      
        {% if p.imagen %}
            <img src="/media/{{ p.imagen }}" height="300px"> <br>
        {% endif %}
    
            
       
        
        <a href="{% url 'vista_lista_producto' %}">Regresar a la lista</a><br>
        <a href="{% url 'vista_editar_producto' id_prod=p.id %}">Editar</a><br>
        <a href="{% url 'vista_eliminar_producto' id_prod=p.id %}">Eliminar</a>
        

    {% endblock %}

    
</body>
</html>

