
{% extends 'base.html' %}
{% block titulo %} agregar productos{% endblock %}

{% block contenido %}
    <h1>Agregar productos</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formulario.as_p }}
        <input type="submit" value="Agregar Producto" class="btn btn-primary"  >
        <button type="button" id="cancel-button" class="btn btn-secondary">Cancelar</button>  
    </form>

    <script> 
    document.getElementById('cancel-button').addEventListener('click', function() { 
        window.history.back(); 
            
            
    });
    </script>
{%endblock %} 

    
